@import "lib/bourbon";
@import "lib/neat";
@import "lib/font-awesome";


@import "lib/envos/vars";
@import "lib/envos/mixins";
@import "lib/envos/layout/nav";
@import "lib/envos/layout/flex";
@import "lib/envos/modules/stanok";
@import "lib/envos/animations/interactions";
@import "lib/envos/animations/view";


// Scaffolding
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;  
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background: $bodyBackground;
  color: $textColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 ($baseLineHeight / 2) 0;
  font-family: $serif;
  font-weight: normal;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  @include ta(center);
}

h1,
h2,
h3 { line-height: $baseLineHeight * 1.5; }

h1 { font-size: $baseFontSize * 2.75; } // ~38px
h2 { font-size: $baseFontSize * 2.25; } // ~32px
h3 { font-size: $baseFontSize * 1.75; } // ~24px
h4 { font-size: $baseFontSize * 1.25; } // ~18px

p {
  margin: 0 0 $baseLineHeight / 2;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {color: $linkColorHover;}
}
img {
  max-width: 100%;
  height: auto;
}
.text-center {
  @include ta(center);
}
.left {
  float: left;
}
.right {
  float: right;
}

.container {
  @include outer-container;
}
.container-full {
  @include fill-parent;
}

// Layout
.wrapper {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
  height: 100%;
  background: $bodyBackground;
}
.hdr-main, .nav-main {
  z-index: 1000;
  width: 100%;
}
.hdr-main {
  background-color: $navBackground;
  @include position(fixed, 0px 0 auto 0);  
}
.nav-main {
  height: 45px;
}

// Header
.logo {
  display: block;
  margin: 5px 15px;
  height: 34px;
}
.tagline {
  z-index: 1;
  width: 100%;
  @include ta(center);
  @include position(fixed, 50% auto auto auto);
}

// Box grid
ul.boxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.box2 > li, .box2 > div {
  @include span-columns(6);
  @include omega(2n);
}
.box3 > li, .box3 > div {
  @include span-columns(4);
  @include omega(3n);
}
.box4 > li, .box4 > div {
  @include span-columns(3);
  @include omega(4n);
}