@import "lib/bootstrap";
@import "lib/responsive";
@import "lib/font-awesome";

body {padding-bottom: 60px;}
.navbar-fixed-top, .navbar-fixed-bottom {
    background: $bodyBackground;
}
.wrapper-content {
    padding-top: 120px;
    padding-bottom: 100px;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
}

#ng-view {
  position:relative;
  min-height:500px;
}

.prod-info {display: none !important;}