<h2>ИКП01У-100-004</h2>

<div class="flex-container">
  <div class="flex-item">
    <p>
      Защитный угол, град<br />
      <strong>19</strong>
    </p>
    <p>
      Высота, мм<br />
      <strong>650</strong>
    </p>          
  </div>
  <div class="flex-item">
    <div class="head">
      <a href=""> 
        <img ng-src="images/stanok/head/ikp.svg" alt="">
      </a>
    </div>
    <div class="middle">
      <a href=""></a>
    </div>
    <div class="bottom">
      <a href=""> 
        <img ng-src="images/stanok/bottom/plast.svg" alt="">
      </a>
    </div>            
  </div>
  <div class="flex-item">
    <p>
      Минимальная освещенность<br />
      <strong>2300</strong>
    </p>
    <p>
      Масса, кг<br />
      <strong>1.1</strong>
    </p>
  </div>
</div>