<div class="slide-item">
  <h2>Станочные светильники: серия ИКП 01У</h2>
  <div class="tech tech-left">
    <p>
      Защитный угол<br />
      <strong><span>19</span> &deg;</strong>
    </p>
    <p>
      Высота<br />
      <strong><span>650</span> мм</strong>
    </p>          
    <p>
      Масса<br />
      <strong><span>1.1</span> кг</strong>
    </p>
  </div>
  <div class="stanok ikp">
    <div class="head">
      <a href=""></a>
    </div>
    <div class="middle">
      <a href=""></a>
    </div>
    <div class="bottom">
      <a href=""></a>
    </div>            
  </div>
  <div class="tech tech-right">
    <p>
      Минимальная освещенность<br />
      <strong><span>2300</span> Lm</strong>
    </p>
    <p>
      Тип лампы<br />
      <strong><span>ДНАТ</span></strong>
    </p>
    <p>
      Мощность<br />
      <strong><span>60</span> Ват</strong>
    </p>
  </div>
</div>