<h2 class="text-center">НСП01У-100-004</h2>
<div class="tech tech-left">
  <p>
    Защитный угол, град<br />
    <strong>19</strong>
  </p>
  <p>
    Высота, мм<br />
    <strong>650</strong>
  </p>          
</div>
<div class="model">
  <div class="head">
    <a href=""> 
      <img ng-src="images/stanok/head/nkp.svg" alt="">
    </a>
  </div>
  <div class="middle">
    <a href=""></a>
  </div>
  <div class="bottom">
    <a href=""> 
      <img ng-src="images/stanok/bottom/metal.svg" alt="">
    </a>
  </div>            
</div>
<div class="tech tech-right">
  <p>
    Минимальная освещенность<br />
    <strong>2300</strong>
  </p>
  <p>
    Масса, кг<br />
    <strong>1.1</strong>
  </p>
</div>
<a class="link-more" href="">Подробнее</a>
<div class="prod-info">
  <h4>Назначение</h4>
  <p>Светильник серии НКП 01У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования. Светильники рассчитаны на работу от сети с номинальным напряжением 24В или 36В постоянного или переменного тока частоты 50 или 60 Гц. Климатическое исполнение УХЛ4.</p>
  <h4>Источник света</h4>
  <p>Лампы МО 24-60, 24-100, 36-60, 36-100 или импортные аналоги  мощностью 60 и 100Вт.</p>
  <h4>Монтаж</h4>
  <p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью четырёх винтов.</p>
  <h4>Составные части</h4>
  <p>Гибкая часть изготовлена из стали ОК и пружинной стали класса В1, покрытые цинком, основание и корпус - полиамид стеклонаполненый, отражатель - металлический белый.</p>
  <h4>Комплект поставки</h4>
  <p>1. Светильник.<br>Лампа в комплект поставки не входит</p>
</div>