<div class="row-fluid">
  <div class="span12">
    <h2>Станочные светильники</h2>
    <h3>НКП01У-100</h3>
    <img src="http://envos.biz/img/products/34.jpg" alt="">

    <table class="table table-condensed">
    <tbody>
      <tr>
        <td>НКП01У-100-001</td>
        <td>2300</td>
        <td>19</td>
        <td>250</td>
        <td>0,75</td>
      </tr>
    <tr align="center">
        <td>НКП01У-100-002</td>
        <td>2300</td>
        <td>19</td>
        <td>410</td>
        <td>0,82</td>
      </tr>
    <tr align="center">
        <td>НКП01У-100-003</td>
        <td>2300</td>
        <td>19</td>
        <td>545</td>
        <td>0,94</td>
      </tr>
    <tr align="center">
        <td>НКП01У-100-004</td>
        <td>2300</td>
        <td>19</td>
        <td>650</td>
        <td>1,1</td>
      </tr>
    </tbody>
    </table>
  
    <h3>ИКП09У-50</h3>
    <img src="http://envos.biz/img/products/38.jpg" alt="">
    <div class="prod-info">
      <h4>Назначение</h4>
      <p>Светильник серии ИКП 09У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования. Светильники рассчитаны на работу от сети с номинальным напряжением12В или 24В постоянного или переменного тока частоты 50 или 60 Гц. Климатическое исполнение УХЛ4. Степень защиты IP 54.</p>
      <h4>Источник света</h4>
      <p>Лампы галогенные тип jc, отечественные или импортные аналоги мощностью 35-75Вт. Отражатель алюминиевый, угол рассеивания 60 град., патрон GU 5,3.</p>
      <h4>Монтаж</h4>
      <p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью четырёх винтов.</p>
      <h4>Составные части</h4>
      <p>Гибкая часть, изготовлена из стали ОК и пружинной стали класса В1, покрыта цинком, или покрашена чёрной порошковой краской. Основание - полиамид стеклонаполненный. Верхний корпус - алюминий, стекло - калёное сталенитовое, толщиной 4 мм, прокладки из термостойкой резины.</p>
      <h4>Комплект поставки</h4>
      <p>1.Светильник.<br>Лампа в комплект поставки  входит только при отдельной договорённости.</p>
    </div>
    <table class="table table-condensed">
    <tbody><tr>
        <th>Тип светильника</th>
        <th>Минимальная освещенность</th>
        <th>Защитный угол, град</th>
        <th>Длина стойки L, мм</th>
        <th>Масса, кг</th>
      </tr>
    <tr align="center">
        <td>ИКП09У-50-001</td>
        <td>800/3100</td>
        <td>19</td>
        <td>250</td>
        <td>1,0</td>
      </tr>
    <tr align="center">
        <td>ИКП09У-50-002</td>
        <td>800/3100</td>
        <td>19</td>
        <td>410</td>
        <td>1,2</td>
      </tr>
    <tr align="center">
        <td>ИКП09У-50-003</td>
        <td>800/3100</td>
        <td>19</td>
        <td>545</td>
        <td>1,4</td>
      </tr>
    <tr align="center">
        <td>ИКП09У-50-004</td>
        <td>800/3100</td>
        <td>19</td>
        <td>650</td>
        <td>1,6</td>
      </tr>
    </tbody></table>
  
    <h3>ИКП10У-50</h3>  
    <img src="http://envos.biz/img/products/42.jpg" alt="">
    <div class="prod-info">
      <h4>Назначение</h4>
      <p>Светильник серии ИКП 10У предназначен для местного освещения рабочих зон швейных, раскроенных, вышивальных, обмёточных и других станков, а также разного производственного оборудования используемого в швейном и другом производстве. Светильники рассчитаны на работу от сети с номинальным напряжением 220В переменного тока частоты 50 Гц. Климатическое исполнение УХЛ4. Класс защиты ІІ. Степень защиты IP 54.</p>
      <h4>Источник света</h4>
      <p>Лампы галогеновые типа JC отечественные  или импортные мощностью 50Вт. Патрон GU 5,3. Отражатель алюминиевый, угол рассеивания 60 град.</p>
      <h4>Монтаж</h4>
      <p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью крепёжного приспособления в виде струбцины.</p>
      <h4>Составные части</h4>
      <p>Гибкая часть, изготовлена из стали ОК и пружинной стали класса В1, покрыта цинком. Основание - листовая штампованная сталь. Верхний корпус - алюминий, покрашенный чёрной краской.</p>
      <h4>Комплект поставки</h4>
      <p>1. Светильник.<br>2. Шнур.<br>3. Переключатель.<br>4. Евровилка.<br>5. Струбцина.<br>Лампа в комплект поставки  входит только по отдельной договорённости.</p>
    </div>
  
    <table class="table table-condensed">
    <tbody><tr>
        <th>Тип светильника</th>
        <th>Минимальная освещенность</th>
        <th>Защитный угол, град</th>
        <th>Длина стойки L, мм</th>
        <th>Масса, кг</th>
      </tr>
    <tr align="center">
        <td>ИКП10У-50-001</td>
        <td>800/3100</td>
        <td>19</td>
        <td>250</td>
        <td>1,0</td>
      </tr>
    <tr align="center">
        <td>ИКП10У-50-002</td>
        <td>800/3100</td>
        <td>19</td>
        <td>410</td>
        <td>1,4</td>
      </tr>
    <tr align="center">
        <td>ИКП10У-50-003</td>
        <td>800/3100</td>
        <td>19</td>
        <td>545</td>
        <td>1,8</td>
      </tr>
    <tr align="center">
        <td>ИКП10У-50-004</td>
        <td>800/3100</td>
        <td>19</td>
        <td>650</td>
        <td>2,1</td>
      </tr>
    </tbody></table>
    <h2>УЛИЧНЫЕ СВЕТИЛЬНИКИ</h2>
    <h3>HELIOS</h3>
    <img src="http://placehold.it/180/180" alt="">
    <div class="prod-info">
      <h4>Назначение</h4>
      <p>Для освещения улиц, дорог, площадей с высокой, средней и малой интенсивностью движения транспорта (категории А, Б и В), дворы, железнодорожные платформы, территории школ и детских садов, автостоянки. </p>
      <h4>Источник света</h4>
      <p> РКУ 21 – ртутная лампа ДРЛ 125, 250 Вт.  </p>
      <h4>Монтаж </h4>
      <p>Устанавливать светильник рекомендовано на кронштейне D =50 мм под углом 0-20° к горизонту,  рекомендованная высота установки составляет от 6 до 10м.</p>
      <h4>Комплект поставки</h4>
      <p>1. Светильник.<br>Лампа в комплект поставки входит только по договорённости. </p>
    </div>
    <table class="table table-condensed">
    <tbody><tr>
        <th>Тип светильника</th>
        <th>Тип лампи</th>
        <th>Лампа, Вт</th>
        <th>Степень пылевлагозащиты</th>
      </tr>
    <tr align="center">
        <td>Cветильник консольный РКУ-125 (Helios)</td>
        <td>ДРЛ</td>
        <td>125</td>
        <td>IP 65</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный РКУ-250 (Helios)</td>
        <td>ДРЛ</td>
        <td>250</td>
        <td>IP 65</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ-70 (Helios)</td>
        <td>ДНаТ</td>
        <td>70</td>
        <td>IP 65</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ-100 (Helios)</td>
        <td>ДНаТ</td>
        <td>100</td>
        <td>IP 65</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ-150 (Helios)</td>
        <td>ДНаТ</td>
        <td>150</td>
        <td>IP 65</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ-250 (Helios)</td>
        <td>ДНаТ</td>
        <td>250</td>
        <td>IP 65</td>
      </tr>
    </tbody></table>
  
  
    <h3>COBRA</h3>
    <img src="http://placehold.it/180/180" alt="">
    <div class="prod-info">
      <h4>Назначение</h4>
      <p>Для освещения улиц, дорог, площадей с высокой, средней и малой интенсивностью движения транспорта (категории А, Б и В), дворы, железнодорожные платформы, территории школ и детских садов, автостоянки. </p>
      <br>
      <h4>Источник света</h4>
      <p>Ртутная лампа ДРЛ 125 Вт.  </p>
      <h4>Монтаж </h4>
      <p>Устанавливать светильник рекомендовано на кронштейне D =50 мм под углом 0-20° к горизонту,  рекомендованная высота установки составляет от 6 до 10м.</p>
      <h4>Комплект поставки</h4>
      <p>1. Светильник.<br>Лампа в комплект поставки входит только по договорённости. </p>
      <h4>Составные части</h4>
      <p>Корпус  изготовлен из алюминия методом литья под давлением с порошковым покрытием.  Отражатель изготовлен методом глубокой вытяжки из алюминиевого проката с последующей электрохимической полировкой и анодированием. Защитное стекло из сталенитового закалённого стекла.</p>
    </div>
    <table class="table table-condensed">
    <tbody><tr>
        <th>Тип светильника</th>
        <th>Тип лампи</th>
        <th>Лампа, Вт</th>
        <th>Степень пылевлагозащиты</th>
        <th>Масса, кг</th>
      </tr>
    <tr align="center">
        <td>Cветильник консольный РКУ-125 (Cobra)</td>
        <td>ДРЛ</td>
        <td>125</td>
        <td>IP 65</td>
        <td>4.2</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ-100 (Cobra)</td>
        <td>ДНаТ</td>
        <td>100</td>
        <td>IP 65</td>
        <td>4.5</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ-150 (Cobra)</td>
        <td>ДНаТ</td>
        <td>150</td>
        <td>IP 65</td>
        <td>4.9</td>
      </tr>
    </tbody></table>
  
    <h3>CВЕТИЛЬНИК КОНСОЛЬНЫЙ</h3>
    <div class="prod-info">
      <h4>Назначение</h4>
      <p>Для освещения улиц, дорог, площадей с высокой, средней и малой интенсивностью движения транспорта (категории А, Б и В), дворы, железнодорожные платформы, территории школ и детских садов, автостоянки. </p>
      <h4>Источник света</h4>
      <p>РКУ16 – ртутная лампа ДРЛ  250, 400 Вт.  </p>
      <h4>Монтаж </h4>
      <p>Устанавливать светильник рекомендовано на кронштейне D =50 мм под углом 0-20° к горизонту,  рекомендованная высота установки составляет от 6 до 10м.</p>
      <h4>Комплект поставки</h4>
      <p>1. Светильник.<br>Лампа в комплект поставки входит только по договорённости. </p>
      <h4>Составные части</h4>
      <p>Основание штампованное из стального проката с порошковым покрытием.  Крышка отсека ПРА из термостойкой ударопрочной пластмассы.  Корпус-отражатель изготовлен методом глубокой вытяжки из алюминиевого проката с последующей электрохимической полировкой и анодированием.  Защитное стекло из светостабилизированного поликарбоната.  </p>
    </div>
    <table class="table table-condensed">
    <tbody><tr>
        <th>Тип светильника</th>
        <th>Тип лампи</th>
        <th>Лампа, Вт</th>
        <th>Степень пылевлагозащиты</th>
      </tr>
    <tr align="center">
        <td>Cветильник консольный РКУ 16-250 </td>
        <td>ДРЛ</td>
        <td>250</td>
        <td>IP54/IP23</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный РКУ 16-400 </td>
        <td>ДРЛ</td>
        <td>400</td>
        <td>IP54/IP23</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ 16-250 </td>
        <td>ДНаТ</td>
        <td>250</td>
        <td>IP54/IP23</td>
      </tr>
    <tr align="center">
        <td>Cветильник консольный ЖКУ 16-400 </td>
        <td>ДНаТ</td>
        <td>400</td>
        <td>IP54/IP23</td>
      </tr>
    </tbody></table>
  
  
    <h2>Прожектора</h2>
    <img src="http://envos.biz/img/products/48.jpg" alt="">
    <div class="prod-info">
      <h4>Назначение</h4>
      <p>Для освещения открытых территорий промышленных и сельскохозяйственных объектов, других территорий. Для внутреннего освещения закрытых спорткомплексов и других сооружений, а также для подсветки архитектурных фасадов и памятников. Рассчитаны на эксплуатацию в районах с холодным и умеренным климатом (от -40 С до +50 С)</p>
      <h4>Источник света</h4>
      <p>Лампа ДНаТ250, ДНаТ-400, Дри-250, Дри-400, ДРЛ-250, ДРЛ-400 или их импортные аналоги.</p>
      <h4>Монтаж </h4>
      <p>Устанавливается на горизонтальной или вертикальной площадке лирой вниз или вверх.</p>
      <h4>Составные части</h4>
      <p>Корпусные детали из алюминиевого сплава, электрохимполированный отражатель - из листового алюминия высокой чистоты. Аппаратура управления встроенная – степень защити ІР65. Защитное стекло - термостойкое.</p>
      <h4>Комплект поставки</h4>
      <p>1. Светильник.<br>Лампа в комплект поставки входит только по договорённости. </p>
    </div>
    <table class="table table-condensed">
    <tbody><tr>
        <th>Тип светильника</th>
        <th>Сил света, ккд</th>
        <th>Угол рассеяния 2а, град, Г/В</th>
        <th>Лампа</th>
        <th>Масса, кг</th>
      </tr>
    <tr align="center">
        <td>Прожектор РО-07В-250</td>
        <td>3</td>
        <td>115/125</td>
        <td>ДРЛ</td>
        <td>14,5</td>
      </tr>
    <tr align="center">
        <td>Прожектор РО-07В-400</td>
        <td>14</td>
        <td>115/125</td>
        <td>ДРЛ</td>
        <td>16</td>
      </tr>
    <tr align="center">
        <td>Прожектор ЖО-07В-150</td>
        <td>9</td>
        <td>105/110</td>
        <td>ДНаТ</td>
        <td>14</td>
      </tr>
    <tr align="center">
        <td>Прожектор ЖО-07В-250</td>
        <td>11</td>
        <td>105/115</td>
        <td>ДНаТ</td>
        <td>15</td>
      </tr>
    <tr align="center">
        <td>Прожектор ЖО-07В-400</td>
        <td>25</td>
        <td>105/120</td>
        <td>ДНаТ</td>
        <td>16,5</td>
      </tr>
    <tr align="center">
        <td>Прожектор ГО-07В-250</td>
        <td>8,3</td>
        <td>110/115</td>
        <td>ДРИ</td>
        <td>14,5</td>
      </tr>
    <tr align="center">
        <td>Прожектор ГО-07В-400</td>
        <td>15</td>
        <td>110/120</td>
        <td>ДРИ</td>
        <td>16,5</td>
      </tr>
    </tbody></table>
  </div>
</div>
<!--/row-->