<div class="wrapper">

  <div class="container">
    <button ng-click="promo='nkp'">Slide 1: Why AngularJS?</button>
    <button ng-click="promo='ikp'">Slide 2: Alternatives</button>
    <button ng-click="promo='nsp'">Slide 3: Extensibility</button>
    
    <div class="promo-container"
      ng-switch="promo">
        <div class="promo-block" ng-switch-default>NKP</div>
        <div class="promo-block" ng-switch-when="ikp">IKP</div>
        <div class="promo-block" ng-switch-when="nsp">NSP</div>
    </div>
  </div>

<!--   
  <div class="stanok">
    <div class="head">
      <a 
        ng-repeat="headType in stanok"> 
        <img ng-src="images/stanok/head/{{headType.head}}" alt="">
      </a>
      <span>вкл</span>
    </div>
    <div class="stoika">
      <a 
        ng-repeat="stoika in stanok" 
        ng-bind="stoika.height">
      </a>
    </div>
    <div class="bottom">
      <a 
        ng-repeat="bottomBody in stanok">
        <img ng-src="images/stanok/bottom/{{bottomBody.bottom}}" alt="">
      </a>
      <span>вкл</span>
    </div>            
  </div>
  
  <h2 ng-bind="stanok.title"></h2>
  <p>
    Защитный угол, град<br />
    <strong ng-bind="stanok.angle"></strong>
  </p>
  <p>
    Минимальная освещенность<br />
    <strong ng-bind="stanok.luminocity"></strong>
  </p>
  <p>
    Масса, кг<br />
    <strong ng-bind="stanok.weight"></strong>
  </p>
          
  <div class="prod-info">
    <h4>Назначение</h4>
    <p>Светильник серии НКП 01У предназначены для местного освещения рабочих зон сверлильных, токарных и других станков, сборочных столов, а также разного производственного оборудования. Светильники рассчитаны на работу от сети с номинальным напряжением 24В или 36В постоянного или переменного тока частоты 50 или 60 Гц. Климатическое исполнение УХЛ4.</p>
    <h4>Источник света</h4>
    <p>Лампы МО 24-60, 24-100, 36-60, 36-100 или импортные аналоги  мощностью 60 и 100Вт.  </p>
    <h4>Монтаж</h4>
    <p>Светильник крепится основанием на горизонтальную или вертикальную поверхность с помощью четырёх винтов.  </p>
    <h4>Составные части</h4>
    <p>Гибкая часть изготовлена из стали ОК и пружинной стали класса В1, покрытые цинком, основание и корпус - полиамид стеклонаполненый, отражатель - металлический белый.</p>
    <h4>Комплект поставки</h4>
    <p>1. Светильник.<br>Лампа в комплект поставки не входит</p>
  </div>
-->  
</div>
    