<!-- MAIN NAV -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" ng-click="isCollapsed = !">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse" collapse="isCollapsed">
        <p class="navbar-text pull-right">
          <a href="callto:+380352430000" class="navbar-link">+38(0352) 43-00-00</a>
        </p>
        <ul class="nav">
          <li class="active">
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#products">Продукция</a>
          </li>
          <li>
            <a href="#needs">Закупаем</a>
          </li>
          <li>
            <a href="#contact">Контакты</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div> 
