<div class="wrapper">
	<div class="container">
		<h1>Продукция</h1>
	  <!--ul class="nav nav-stack">
	    <li ng-repeat="category in productCategories">
	      <a href="" ng-bind="category.title"></a>
	      <span ng-repeat="subcategory in category.type">
	        <a href="" ng-bind="subcategory"></a>
	      </span> 
	    </li>
	  </ul-->		
		<h2>Станочные светильники</h2>
		<ul class="boxes box3">
			<li>
				Серия НКП01У-100
			</li>
			<li>
				Серия ИКП09У-50
			</li>
			<li>
				Серия ИКП10У-50
			</li>
		</ul>		

		<h2>Обогревающие светильники</h2>
		<ul class="boxes box2">
			<li>
				НСП20
			</li>
			<li>
				НСП21
			</li>
		</ul>

		<h2>Уличные фонари</h2> 
		<ul class="boxes box3">
			<li>
				Серия Helios
			</li>
			<li>
				Серия Cobra
			</li>
			<li>
				Серия Консольный
			</li>
		</ul>
		
		<h2>Спецзаказ</h2>
		<ul class="boxes box2">
			<li>
				Гибкая стойка
			</li>
			<li>
				Гибкая стойка
			</li>
		</ul>

	</div>
</div>



